body {
	font-family: "Open Sans", sans-serif;

}

h1 {
	text-align: center;
	font-size: 40px;
	margin: 0 auto;
}

.header p {
	text-align: center;
	letter-spacing: 8px;
	font-size: 12px;
	text-transform: uppercase;
}

.navigation{

}

.footer {
	text-align: center;
	text-transform: uppercase;
	font-size: 10;
	font-family: "Roboto", sans-serif;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	background: #f8f8f8;
	padding: 10px;
}
.containertext{
	font-size: 20px;
	font-family: "Source Sans Pro", sans-serif;
}

.parallax{
	background:url("img/img1.png") no-repeat center;
	background-attachment: fixed;
	height: 300px;
}

.parallax2{
	background:url("img/img2.png") no-repeat  center;
	background-attachment: fixed;
	height: 300px;
}

.parallax3{
	background:url("img/img4.jpeg") no-repeat  center;
	background-attachment: fixed;
	height: 300px;
}

